<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neeraj.example.doct">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/doctor2"
        android:label="Doctzzzz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SymptomActivityNav"
            android:windowSoftInputMode="adjustPan"
            android:label="Search Symptoms" />
        <activity
            android:name=".Disease"
            android:windowSoftInputMode="adjustPan"
            android:label="List Of Diseases" />
        <activity
            android:name=".SearchMedicineNav"
            android:label="Search Medicines"

            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".SearchDoctorNav"
            android:label="Search Doctors" />
        <activity
            android:name=".Help"
            android:windowSoftInputMode="adjustPan"
            android:label="Help" />
        <activity
            android:name=".DiseaseDetails"
            android:windowSoftInputMode="adjustPan"
            android:label="Disease Details" />
        <activity
            android:name=".MainActivityNav"
            android:windowSoftInputMode="adjustPan"
            android:label="Doctzzzz">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test"></activity>
    </application>

</manifest>